<div class="remodal-bg">
  <h2 id="title">Ember Remodal</h2>

  {{#ember-remodal options=options1}}
    <p>And triggered with included button</p>
  {{/ember-remodal}}

  {{ember-remodal options=options2}}

  <button {{action 'showApplicationModal1'}}>Show Service Modal</button>
  <button {{action 'showApplicationModal2'}}>Show Service Modal 2</button>
  <button {{action 'showApplicationModal3'}}>Show Service Modal 3</button>

  {{ember-remodal forService=true onOpen='onOpenWasFired' onClose='onCloseWasFired'}}

  {{#ember-remodal forService=true name='appModal2' title='Named Modal triggered with the "remodal" service'}}
    <p>This modal is triggered by adding a named "application modal" to the "application" template and calling "this.get("remodal").open("name")"</p>
    <p>This example is in block form and this text is provided by adding it to this modal's "block"</p>
  {{/ember-remodal}}

  {{ember-remodal isApplicationModal=true name='appModal3'}}

  {{#ember-remodal openButton='Invisible Modal' disableForeground=true}}
    This is white text over the "overlay" background.
    The normal white modal background is hidden.
  {{/ember-remodal}}

  {{#ember-remodal}}
    {{#er-open-button}}
      <button class='custom-button'>OPEN A MODAL!</button>
    {{/er-open-button}}

    <p>This is content placed inside an ember-remodal's block along with an "er-open-button"</p>

    {{#er-cancel-button}}
      <p>This text is a custom cancel button</p>
    {{/er-cancel-button}}
  {{/ember-remodal}}

  {{#ember-remodal}}
    {{#er-open-button}}
      <button class='custom-button'>OPEN A 2nd MODAL!</button>
    {{/er-open-button}}

    <p>This is content placed inside a 2nd ember-remodal's block along with an "er-open-button"</p>

    {{#er-cancel-button}}
      <button class='custom-button'>This is a custom cancel button!</button>
    {{/er-cancel-button}}
  {{/ember-remodal}}
</div>
