<nav class="navbar navbar-default remodal-bg">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{#link-to 'index' class="navbar-brand"}}
        <img src="ember-logo.png" alt="Ember Logo">
        <span>remodal</span>
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{link-to 'Inline' 'inline'}}</li>
        <li>{{link-to 'Block' 'block'}}</li>
        <li>{{link-to 'Components' 'components'}}</li>
        <li>{{link-to 'Service (Programmatic Use)' 'service'}}</li>
        <li>{{link-to 'Options/Actions' 'options'}}</li>
        <li>{{link-to 'Styling' 'styling'}}</li>
        <li>{{link-to 'Upgrade Guide' 'upgrading'}}</li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/sethbrasile/ember-remodal">
            {{fa-icon 'github'}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div class="main remodal-bg">
  {{outlet}}
</div>

{{ember-notify messageStyle='bootstrap'}}
